<% provide(:title, 'Get Started | Corona') %>
<div class="container">
  <div class="row-fluid">
    <div class="span3">
    	<%= render 'layouts/platforms'%>
    </div>
	<div class="span9">
    	<h1>Get started with Corona</h1>
		<p>Coming soon.</p>
	</div>
</div>