<% provide(:title, 'Get Started') %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    	<div class="well sidebar-nav">
			<ul class="nav nav-list">
		    	<li class="nav-header">Get Started</li>
		       	<li><a href="#">iOS</a></li>
		        <li><a href="#">Android</a></li>
		        <li><a href="#">Actionscript</a></li>
				<li><a href="#">HTML5</a></li>
		        <li class="nav-header">Integrations</li>
		        <li><a href="#">Unity</a></li>
		        <li><a href="#">Marmalade</a></li>
		        <li><a href="#">Corona</a></li>
		        <li><a href="#">Appcelerator</a></li>
		        <li><a href="#">PhoneGap</a></li>
			</ul>
		</div><!--/.well -->
    </div>
    <div class="span9">
    	<h1>Get started with Klick Push</h1>
		<p>We want to make the integration process as easy as possible for you. Click on a platform to see how you can start earning more money with Klick Push in as little as 15 minutes. If there is a platform you'd like to see us integrate with, drop us a line at support@klickpush.com.</p>
    </div>
  </div>
</div>
