<% provide(:title, 'Get Started') %>
<div class="container">
  <div class="row-fluid">
    <div class="span3">
    	<%= render 'layouts/platforms'%>
    </div>
	<div class="span9">
    	<h1>Get started with Klick Push</h1>
		<p>We want to make the integration process as easy as possible for you. Click on a platform to see how you can start earning more money with Klick Push in as little as 15 minutes. If there is a platform you'd like to see us integrate with, drop us a line at support@klickpush.com.
		</p>
	</div>
</div>
