<% provide(:title, 'Home') %>
<div class="left hero-unit">
	<h1>Increase Monetization Using Targeted Music</h1>
	<p>
		<h2>Klick Push provides developers with a music library to help incentivize users to purchase virtual goods inside of your games.</h2>
	</p>
	<%= link_to "Get Started", getstarted_path, class: "btn btn-large btn-primary" %>
</div>
<div class="row">
	<div class="container">
		<%= render 'layouts/usps'%>
	</div>
</div>