<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>Use Targeted Music to Increase Monetization</h1>
	<p>
		<h2>Klick Push provides developers with a music library to help incentivize users to purchase virtual goods inside of your games.</h2>
	</p>
	<%= link_to "Get Started", getstarted_path, class: "btn btn-large btn-primary" %>