<div class="well sidebar-nav">
	<ul class="nav nav-list">
    	<li class="nav-header">Platforms</li>
       	<li><a href="#">iOS</a></li>
        <li><a href="#">Android</a></li>
		<li><a href="#">Windows Phone</a></li>
        <li><a href="#">Actionscript</a></li>
		<li><a href="#">HTML5</a></li>
        <li class="nav-header">Integrations</li>
        <li><a href="#">Unity</a></li>
		<li><a href="#">PhoneGap</a></li>
		<li><a href="#">Corona</a></li>
        <li><a href="#">Marmalade</a></li>
        <li><a href="#">Appcelerator</a></li>
	</ul>
</div>