<div class="container-fluid">
	<div class="row-fluid">
        <div class="span4">
          <h2>Manage Your Own Goods</h2>
           <p>If you manage your own virtual goods, you can integrate Klick Push to help incentivize users to purchase. If you can parse a JSON file, we can show you how to achieve conversions between 12-18%.</p>
          <p><%= link_to "Learn More", getstarted_path, class: "btn btn-large" %></p>
        </div>
        <div class="span4">
          <h2>Drag and Drop UI</h2>
           <p>We've integrated with Roar Engine to provide you with a drag and drop solution. Bring your goods in, set the events, choose your genres, and include the Roar file in your project. It's that easy! </p>
          <p><%= link_to "Visit Roar.io", "http://roarengine.com", target: "_blank", class: "btn btn-large" %></p>
       </div>
        <div class="span4">
          <h2>Retarget Users</h2>
          <p>Once we've acquired the user, we work on your behalf to make you money through our targeted email marketing engine. Don't worry we won't sell their information to third parties or spam them with BS offers.</p>
          <p><%= link_to "Learn More", getstarted_path, class: "btn btn-large" %></p>
        </div>
	</div>
</div>